
body {
    text-align: center;
    font-family: cursive;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(247, 247, 247, 0.865);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    height: 610px;
    border: black solid 1px;
}

.grid {
    box-sizing: border-box; 
    border: rgb(217, 217, 217) solid 1px;
}

.clicked {
    background-color: brown;
}

.values {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

