
body {
    text-align: center;
    font-family: cursive;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 580px;
}

.grid {
    border: grey solid 1px;
    width: 33px; 
    height: 33px;
}

.clicked {
    background-color: brown;
}