
body {
    text-align: center;
    font-family: cursive;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 610px;
    height: 610px;
    border: black solid 1px;
}

.grid {
    box-sizing: border-box;
    width: 6.25%;
    height: 6.25%;
    border: grey solid 1px;
}

.clicked {
    background-color: brown;
}